{extend name="public:base" /} 
{block name="css"} {/block} 
{block name="content"}
<div id="page-head">
	<div id="page-title">
		<h1 class="page-header text-overflow">添加程序</h1>
	</div>
</div>
<div id="page-content">
	<div class="layui-card">
		<div class="layui-card-body">
			<form class="layui-form" action="{$config['current_url']}" method="post">
				<div class="layui-form-item">
					<label class="col-md-2" style="text-align:right;">程序名称：</label>
					<div class="col-md-7">
						<input type="text" name="name" autocomplete="off" required  lay-verify="required" placeholder="请输入程序名称" class="layui-input">
					</div>					
				</div>
				<div class="layui-form-item">
					<label class="col-md-2" style="text-align:right;">版本号：</label>
					<div class="col-md-7">
						<input type="text" name="version" autocomplete="off" placeholder="请输入版本号" class="layui-input">
					</div>
					<label class="col-md-3">默认version 1.0.0</label>
				</div>
				<div class="layui-form-item">
					<label class="col-md-2" style="text-align:right;">更新说明：</label>
					<div class="col-md-7">
							<textarea class="layui-textarea" name="desc"  placeholder="请输入更新说明信息" autocomplete="off"></textarea>
					</div>
				</div>				
				<div class="layui-form-item">
					<label class="col-md-2" style="text-align:right;"></label>
					<div class="col-md-7">
						<button class="layui-btn" type="submit">立即提交</button>
						<button type="button" class="layui-btn layui-btn-primary" onclick="window.history.back(-1)">返回</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{/block} {block name="javascript"} 
<script type="text/javascript">
layui.use(['form', 'layedit','table', 'laydate','element'], function(){
    var form = layui.form
    ,layer = layui.layer
    ,layedit = layui.layedit
    ,laydate = layui.laydate
    ,element = layui.element,table = layui.table;
});	
</script> 
{/block}