{extend name="public:base" /} 
{block name="css"}
<style>
ul.iconlist li{
	display:inline-block;
	height:50px;
	line-height:50px;
}
ul.iconlist li:hover{
cursor:pointer;
}
.lilight{
background-color:#f1ffde;

}
</style>
{/block} 
{block name="content"}
<div id="page-head">
	<div id="page-title">
		<h1 class="page-header text-overflow">字体图标</h1>
	</div>
</div>
<div id="page-content">
	<div class="row">
		<div class="col-lg-12">
			<ul class="iconlist" style="display:none;"></ul>
		</div>
	</div>
</div>
{/block} {block name="javascript"}
<script>
//加载全部字体图标
$(function(){
	$.ajax({
		url: "{:url('@Admin/File/getIcons')}", //获取后端请求数据地址
		type: 'get',
		async: true,
		dataType: 'json',
		success: function(res) {
			if(res) {
				//生成一个个li，并加入到ul中
				for(var i = 0; i < res.length; i++) {
					var liElement = $('<li title="点击复制" class="col-sm-6 col-md-4"><i data-clipboard-text="' + res[i] + '"  class="' + res[i] + '"></i>&nbsp;' + res[i] + '</li>');
					liElement.appendTo("ul.iconlist");
				}
				//显示图标盒子
				$("ul.iconlist").show();
				//当鼠标悬浮在某个下拉项时，高亮显示
				$("ul.iconlist li").hover(function() {
					$("ul.iconlist li").removeClass("lilight");
					$(this).addClass("lilight");
				});
				//当鼠标点击某个下拉项时，进行复制
				$("ul.iconlist li").click(function() {
					var icon = $(this).find('i').attr('class');
					let transfer = document.createElement('input');
					document.body.appendChild(transfer);
					transfer.value = icon;// 这里是想要复制的内容
					transfer.focus();
					transfer.select();
					if (document.execCommand('copy')) {
						document.execCommand('copy');
					}
					transfer.blur();
					mui.toast('复制成功，图标：'+icon);
					document.body.removeChild(transfer);
				});
			}
		}
	});
});
</script>
{/block}